body {
    display: flex;
    height: 100vh;
}

.box0 {
    border: solid 5px;
    margin: 20px;
}

header {
    display: flex;
    flex: 1;
}

.box0 {

    border: solid 1px;
    background-color: gold;
    flex: 1 1 5rem;
}

main {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.box1,
.box2 {

    border: solid 1px;
    flex: 1 1 5rem;
}

.box1 {
    background-color: green;
    margin-bottom: 1px;
}

.box2 {
    background-color: red;
}

footer{
    display: flex;
    flex: 1;
}

.box01 {

    border: solid 1px;
    background-color:green;
    flex: 1 1 5rem;
}