header{
    border: solid 3px;
    background-color: brown;
    height: 200px;
    margin-bottom:20px ;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

main{
    border: solid 3px;
    background-color: blue;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    
}

footer{
    border: solid 3px;
    background-color:yellow;
    height: 200px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}